html,
body {
  padding: 0;
  margin: 0;
  font-family: Mitr, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

@keyframes blinkRed {
  0%, 100% {
    color: currentColor;
  }
  50% {
    color: red;
  }
}

.shake {
  animation: shake 0.3s ease-in-out, blinkRed 0.5s ease-in-out;
}

/* hide next error popup in dev mode */
/* nextjs-portal {
  display: none;
} */